* {
    margin: 0;
    padding: 0;
}

.borde {
border-radius: 50%;
}

.conteiner {
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(./img/bicycle-438400_960_720.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
} 
.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 130px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: roboto, "sans-serif";
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: #99cccc;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%;
}

.letra {

    text-align: center;
    font-size: 90px;
    margin-top: 6%;
    color: white;
}

.bici {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(90, 40, 90, 0.80), rgba(5, 10, 5, 0.80)), url(./img/bikes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fotoPng {
 margin-top: 13%;
 margin-left: 7%;
} 

.foto {
    color: white;
    text-align: right;
    margin-top: -15%;
    margin-right: 7%;
}

.ultimaFoto {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(./img/bici\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fotoUltima {
    margin-top: 13%;
    margin-left: 64%;
}

.letraIzquierda {
    color: white;
    text-align: left;
    margin-top: -15%;
    margin-left: 7%;
}

.penultimo {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(90, 40, 90, 0.80), rgba(5, 10, 5, 0.80)), url(./img/65350-bicicletas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*           INICIO DEL FOOTER             */

footer {
    width: 100%;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(5, 10, 5, 0.80)), url(./img/65562-bicicletas.jpg);
    color: white;

}

.todoFooter {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 3px;
}

.containerBody {
    display: flex;
    justify-content: space-between;

}

.columna1 {
  max-width: 400px;

}

.columna1 h1 {
    font-size: 22px;
}

.columna1 p {
    font-size: 14px;
    color: violet;
    margin-top: 20px;
}

.columna2 {
    max-width: 200px;

}

.columna2 h1 {
    font-size: 22px;
}

.fila1 {
margin-top: 20px;
display: flex;
}

.fila1 img {
    width: 36px;
    height: 36px;
}

.fila1 label{
    margin-top: 10px;
    margin-left: 10px;
    color: wheat;
}

.columna3 {
max-width: 400px;

}

.columna3 h1{
    font-size: 22px;
}

.fila2 {
    margin-top: 20px;
    display: flex;
}

.fila2 img{
    width: 36px;
    height: 36px;
}

.fila2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.containerFooter {
    width: 100%;
    background: rosybrown;
 
    
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.copyright {
    color: white;
}

.informacion a{
    text-decoration: none;
    color: white;
}

@media screen and(max-width: 1100px){
    .containerBody{
      flex-wrap: nowrap;
    }

    .columna2,
    .columna3{
        margin-top: 40px;
    }
}
    
/* FIN DEL FOOTER */

/* INICIO DEL REGISTRO */



.form{
    border-radius: 10px;
    padding: 1%;
    margin: 64px;
}

.rounded2{
    border-top: 5px solid;
    border-radius: 10px;
    color: #99cccc;
    margin-left: 5%;
    margin-right: 5%;
  
}

.colorbutton{
    background-color: #99cccc;
    border: white;
}

.colorbutton:hover{
    background-color: white;
    color: #99cccc;
    border: #99cccc;
}

.formulario label{
    color: #99cccc;
    } 

.colorLetra{
    color: #99cccc;
}
